.blog-section__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    row-gap: 2rem;
    @screen sm {
        grid-template-columns: 1fr 1fr;
    }

    @screen md {
        grid-template-columns: repeat(3,1fr);
    }

    &--item {

    }

    &--content {
        position: absolute;
        right: 0;
        left: 20px;
        bottom: -50px;
        min-height: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1rem;

        & > h3 {
            grid-column: 1/3;
        }


    }
}